avatar{
	width:45px;
	height: 45px;
	border-radius: 45px;
	border: 2px solid #ccc;
	box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition-duration: 100ms;
}
.perfil{
	width:45px;
	height: 45px;
	border-radius: 45px;
	border: 2px solid #ccc;
	box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition-duration: 100ms;
}

.avatar:hover{
	width: 55px;
	height: 55px;
	border: 2px solid green;
}